// colors.
$black: #000;
$blue: #1a25fb;
$dark--purple: #00040e;
$white: #fff;

:root {
  font-size: 100%;
  font-family: inter;
}
body {
  background: #f9f6ef;
  font-family: "inter";
  margin: 0;
}
.main {
  height: 100%;
  margin: 100px auto;
  width: 340px;
  .win-alert {
    background: rgba($black, 0.85);
    border-radius: 4px;
    color: $white;
    display: inline-block;
    font-size: 0.85rem;
    margin-right: 300px;
    opacity: 1;
    padding: 12px 14px 13px;
    position: absolute;
    transform: translate(370px, 10px);
    transition: 0.2s ease-in all;
    &:empty {
      opacity: 0;
      transform: translate(300, 10px);
      transition: 0s ease-in all;
    }
    span {
      font-size: 1.5rem;
      position: absolute;
      top: 5px;
      right: -36px;
    }
  }
}
.tiles-box {
  background: rgba($black, 0.05);
  border-radius: 8px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  column-gap: 2px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 340px;
  overflow: hidden;
  position: relative;
  row-gap: 2px;
  z-index: 2;
  &.disable {
    pointer-events: none !important;
  }
  > div {
    background: $white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    &.x {
      background-image: url("../img/x.svg");
    }
    &.o {
      background-image: url("../img/o.svg");
    }
  }
}
a.restart {
  animation: 0.5s ease-in introBtn;
  background: #f74e1c;
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  color: $white;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.08em;
  padding: 20px 32px 21px;
  text-decoration: none;
  text-transform: uppercase;
  @keyframes introBtn {
    0% {
      transform: translate(0px, 20px);
      opacity: 0;
    }
    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  svg {
    fill: none;
    height: 12px;
    margin-right: 6px;
    opacity: 0.7;
    position: relative;
    stroke: currentColor;
    stroke-width: 3.5px;
    top: 2px;
    width: 12px;
  }
  &:focus > svg {
    animation: 0.4s ease-in rotate;
  }
}
.foot {
  bottom: 60px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
div#ns {
  background: #4b38f1;
  color: $white;
  text-align: center;
  padding: 11px 0 15px;
  font-size: 0.83rem;
  a {
    color: $white;
    text-decoration: none;
    border-bottom: 1px solid rgba($white, 0.7);
    padding-bottom: 2px;
  }
}
